.header {
    background: #FFEE75;
    width: 100%;
    height: 50px;
}

.logo {
    color: white;
    text-align: center;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif
}

.logo h2 {
    margin-top: 0;
}

.logo_alex {
    color: red;
}