.form-input {
    width: 50%;
}

.center {
    margin-top: 200px;
}

/* .login-background {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1;
    height: 720px;
    background-image: url("https://i.pinimg.com/originals/8a/bf/3a/8abf3a6c3035555c1bc76b4cee6691ba.jpg");
} */